/*********************VARIABLES*********************/
/* line 10, ../sass/app.scss */
body {
  overflow: scroll;
  background: #c80000 !important;
}

/* line 14, ../sass/app.scss */
.main-container {
  background: #c80000 !important;
  padding: 30px 60px !important;
}

/* line 19, ../sass/app.scss */
.logo {
  float: left;
  text-transform: uppercase;
  font-family: 'source_sans_probold', sans-serif;
  font-size: 40px;
  line-height: 45px;
}

/* line 27, ../sass/app.scss */
.navigation {
  float: right;
  width: 350px;
  text-transform: uppercase;
  color: #ffffff;
  background: #000000;
  font-family: 'source_sans_probold', sans-serif;
}
@media screen and (max-width: 470px) {
  /* line 27, ../sass/app.scss */
  .navigation {
    width: 100%;
    font-size: 9px;
    line-height: 13px;
  }
}

/* line 41, ../sass/app.scss */
.navigation div {
  float: left;
  width: 70px;
  cursor: pointer;
  text-align: center;
  padding: 5px;
}
@media screen and (max-width: 470px) {
  /* line 41, ../sass/app.scss */
  .navigation div {
    width: 20%;
    padding: 5px 0;
  }
}

/* line 53, ../sass/app.scss */
.navigation div:hover {
  color: #b9b9b9;
  background: #393939;
}

/* line 58, ../sass/app.scss */
.ad-text-container {
  color: #ffffff;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 80px;
}

/* line 65, ../sass/app.scss */
.ad-text {
  display: inline-block;
  font-family: 'source_sans_probold', sans-serif;
  font-size: 50px;
  font-style: italic;
  line-height: 60px;
  background: #c87d62;
  padding: 10px;
}
@media screen and (max-width: 470px) {
  /* line 65, ../sass/app.scss */
  .ad-text {
    font-size: 30px;
    line-height: 35px;
  }
}

/* line 79, ../sass/app.scss */
.white-box-container {
  background: #e5e5e5;
  padding: 15px;
}

/* line 84, ../sass/app.scss */
.white-box-container .title-text {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 20px;
  line-height: 27px;
}
@media screen and (max-width: 470px) {
  /* line 84, ../sass/app.scss */
  .white-box-container .title-text {
    font-size: 16px;
    line-height: 22px;
  }
}

/* line 94, ../sass/app.scss */
.white-box-container .content-text {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 11px;
  width: 70%;
  float: left;
}
@media screen and (max-width: 470px) {
  /* line 94, ../sass/app.scss */
  .white-box-container .content-text {
    width: 100%;
  }
}

/* line 104, ../sass/app.scss */
.white-box-container .button-container {
  text-align: center;
  margin-left: 20px;
}

/* line 109, ../sass/app.scss */
.white-box-container .learn-more {
  background: #c87d62;
  display: inline-block;
  margin-top: 10px;
  padding: 7px 15px;
  cursor: pointer;
  color: white;
}

/* line 118, ../sass/app.scss */
.white-box-container .learn-more:hover {
  background: #e5e5e5;
}

/* line 122, ../sass/app.scss */
.black-data-view-container {
  background: #000000;
  color: #ffffff;
  display: table;
  margin-bottom: 20px;
}

/* line 129, ../sass/app.scss */
.view-section {
  display: table-cell;
  width: 33%;
  float: left;
  padding: 10px;
  position: relative;
  min-height: 180px;
}
@media screen and (max-width: 470px) {
  /* line 129, ../sass/app.scss */
  .view-section {
    width: 100%;
  }
}

/* line 141, ../sass/app.scss */
.view-section a {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-decoration: none;
  color: orange;
  font-style: italic;
  font-family: 'source_sans_probold', sans-serif;
}

/* line 151, ../sass/app.scss */
.black-data-view-container .title {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 16px;
}

/* line 156, ../sass/app.scss */
.black-data-view-container .content-container {
  margin-bottom: 20px;
  margin-top: 10px;
}

/* line 161, ../sass/app.scss */
.black-data-view-container .image-container {
  width: 50px;
  height: 120px;
  float: left;
}

/* line 167, ../sass/app.scss */
.black-data-view-container .content-text {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 11px;
}

/* line 172, ../sass/app.scss */
.footer-container {
  border-top: 2px solid white;
  color: white;
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 13px;
}

/* line 179, ../sass/app.scss */
.footer-container ul {
  list-style-type: none;
  float: left;
  padding: 0 10px;
}

/* line 185, ../sass/app.scss */
.footer-container li {
  text-transform: capitalize;
  cursor: pointer;
}

/* line 190, ../sass/app.scss */
.social-container {
  float: right;
  width: 220px;
  cursor: pointer;
}

/* line 196, ../sass/app.scss */
.social-container div {
  float: left;
  width: 110px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  padding: 5px;
  display: inline-block;
}

/* line 206, ../sass/app.scss */
.social-container a {
  text-decoration: none;
  color: white;
  font-family: 'source_sans_probold', sans-serif;
}
